.calls-table-th-parent th, .calls-table-td-parent{
    padding: 20px 10px;
    font-weight: 400;
    color: #525866;
    text-align: start;
}
button{
    cursor: pointer;
}
.custom-button-1{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #e1e4ea;
    cursor: pointer;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px -1px rgba(0, 0, 0, .1);
}
.custom-button-2{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    font-size: 14px;
    border-radius: 6px;
    border: 1px solid #e1e4ea00;
    background-color: #f5f7fa;
    cursor: auto;
}
.custom-button-1:hover{
    background: #80808019;
}
.custom-button-save{
    padding: 3px 6px;
    background-color: #0e121b;
    border-radius: 8px;
    font-size: 14px;
    color: #fff;
    margin: 3px 5px;

}
.custom-button-cancel{
    padding: 3px 6px;
    color: #0e121b;
    border-radius: 8px;
    font-size: 14px;
    background-color: #fff;
    margin: 3px 5px;
    border: 1px solid #e1e4ea;
}